 .navbar{
  margin-bottom: 0;
}

.navbar-default,
.navbar.navbar,
.navbar-default.navbar {
  background-color:#333;
  
  
}
.nav > li > a > img{
  width: 45px;
  display: inline-block;
}


.navbar .navbar-nav > li > a{
	line-height: 3;
  padding-bottom: 5px;
  padding-top: 5px;
}
.profile{
  height:40px;
  width:30px;
}