 .navbar{
  margin-bottom: 0;
}

.navbar-default,
.navbar.navbar,
.navbar-default.navbar {
  background-color:#333;
  
  
}
.nav > li > a > img{
  width: 45px;
  display: inline-block;
}


.navbar .navbar-nav > li > a{
	line-height: 3;
  padding-bottom: 5px;
  padding-top: 5px;
}
.profile{
  height:40px;
  width:30px;
}
.popover{
   font-weight: bold;
   text-align: center;
}
.popover-title{
  background-color: #333333;
    border-bottom: 2px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    margin: 0;
    padding: 8px 14px;
}
.popover-content{
background-color: #fff;

}
.btn.editable-cancel{
	background-color:#DB173D; 
}